@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.container h1 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #494eea;
}

.container p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}

.container input {
  width: 100%;
  padding: 12px;

  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.container input:focus {
  border-color: #494eea;
}

.container button {
  width: 100%;
  padding: 12px;
  background: #494eea;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  margin: 10px 0px;
}

.container button:hover {
  background: #323bdb;
}

#imgBox {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  margin-top: 20px;
}

#imgBox.show-img {
  max-height: 150px;
}

#imgBox img {
  width: 100px;
}

.error {
  border: 2px solid red;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}
